/* COMUNI */
.ms_bg_green {
    background-color: rgb(30, 188, 156);
}

.ms_bg_blue {
    background-color: rgb(57, 84, 109);
}

.ms_bg_darkblue {
    background-color: rgb(44, 61, 80);
}

.ms_star {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ms_star::before,
.ms_star::after {
    content: "";
    width: 15%;
    height: 3px;
    background-color: #fff;
    border-radius: 3px;
    display: inline-block;
    vertical-align: middle;
}

.ms_star.black::before,
.ms_star.black::after {
    background-color: #000;
}

.ms_star .bi-star-fill {
    display: inline-block;
    width: 7%;
    font-size: 20px;
}

.ms_btn_green {
    background-color: rgb(30, 188, 156);
    border: none;
}

.ms_btn_green:hover {
    background-color: #18967d;
}

.ms_form_border {
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
}
/* FINE COMUNI */


/* HEADER */
.ms_navbar_link {
    color: #fff !important;
}

.ms_navbar_link:hover {
    color: rgb(30, 188, 156) !important;
}
/* FINE HEADER */



/* JUMBOTRON */
#jumbotron {
    padding-top: 70px;
}

#jumbotron .avatar {
    width: 180px;
}
/* FINE JUMBOTRON */



/* PORTFOLIO */
.ms_portfolio_item {
    position: relative;
    border-radius: 5px;
}

.ms_layover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(26, 188, 156, 0.75);
    overflow: hidden;
}

.ms_layover .bi {
    color: #fff;
    font-size: 80px;
}

.ms_portfolio_item:hover .ms_layover {
    display: flex;
}

.ms_portfolio_item:hover{
    cursor: pointer;
}
/* FINE PORTFOLIO */



/* FOOTER */
.ms_fb {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #fff;
}

.ms_green_txt {
    color: rgb(30, 188, 156);
}

.ms_green_txt:hover {
    color: #18967d;
}
/* FINE FOOTER */